@import url('reset.css');

body {
    background-color: black;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png') top / cover no-repeat;
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 520px;
    margin-block: 60px;

    & > h1 {
        margin-block: 16px;
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
        background-image: linear-gradient(#33A8DB, #1472B7);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }

    & > p {
        font-size: 2rem;
        margin-bottom: 24px;
    }

    & > button {
        padding: 19px 46px;
        background: none;
        border-image: linear-gradient(#33A8DB, #1472B7) 1 round;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #33A8DB;
        transition: all .300s;
        cursor: pointer;
    }

    & > button:hover {
        background-image: linear-gradient(#33A8DB, #1472B7);
        color: white;
    }
}

.logo {
    background-color: rgba(0, 0, 0, 0.25);
    width: 268px;
    height: 268px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#course-content {
    width: 792px;
    margin: 90px auto;

    & > h2 {
        color: #33A8DB;
        font-size: 3.2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;
    }

    & > p {
        text-align: center;
        margin-block: 24px;
    }
}

.modules-list {
    width: 535px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & > .module {
        background-color: #252525;
        border-radius: 55px;
        border: 1px solid #33A8DB;
        text-align: center;
        padding-block: 16px;
        box-shadow: inset -2px 6px 4px #00000066;

        & > span {
            color: #1472B7;
        }
    }
}

#transform-world {
    padding-block: 110px;
    background: url('../images/woman-code.png') top / cover no-repeat fixed;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    margin-bottom: 76px;

    & > p {
        font-size: 4rem;
        font-weight: 900;
        text-shadow: 3px 2px #33A8DB;
        width: 280px;
        margin-left: 100px;
    }
}

#professional-challenges {
    width: 792px;
    margin: auto;
    text-align: center;

    & > h2 {
        color: #33A8DB;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 700;
        letter-spacing: 5px;
    }

    & > img {
        margin-block: 32px;
    }
}

footer {
    margin-top: 90px;
    border-top: 1px solid #33A8DB;
    background-image: linear-gradient(transparent, #33A8DB33);
    padding-block: 38px;
    text-align: center;

    & > p {
        margin-top: 10px;
    }

    & a {
        text-decoration: none;
        color: #33A8DB;
    }
}